{% extends "layout.html" %}
{% block content %}
<div class="row">
  <div class="span6">
    <h3>Info</h3>
    <table class="table table-striped table-bordered">
      <tbody>
        <tr>
          <td>Step Id</td>
          <td>{{step.id}}</td>
        </tr>
        <tr>
          <td>Step Name</td>
          <td>{{step.name}}</td>
        </tr>
        <tr>
          <td>Host</td>
          <td>{{step.host}}</td>
        </tr>
        <tr>
          <td>More</td>
          <td><a href="/history/by_name/{{step.name}}">All "{{step.name}}" runs</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<h3>Parameters</h3>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    {% for (k, param) in step.parameters.items() %}
      <tr>
        <td>{{k}}</td>
        <td>{{param.value}}</td>
      </tr>
    {% end %}
  </tbody>
</table>
<h3>Actions</h3>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Status</th>
      <th>Action Time</th>
    </tr>
  </thead>
  <tbody>
    {% for event in step.events %}
      <tr>
        <td>{{event.event_name}}</td>
        <td>{{event.ts}}</td>
      </tr>
    {% end %}

  </tbody>
</table>
{% end %}
